.home {
    background-color: #a9d2f7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .home .div {
    background-color: #a9d2f7;
    height: 950px;
    overflow: hidden;
    position: relative;
    width: 1452px;
  }
  
  .home .text-wrapper {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 64px;
    font-weight: bold;
    left: 567px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 88px;
    white-space: nowrap;
    width: 318px;
  }
  
  .home .overlap {
    height: 49px;
    left: 1160px;
    position: absolute;
    top: 100px;
    width: 205px;
  }
  
  .home .rectangle {
    height: 49px;
    left: 0;
    position: absolute;
    top: 0;
    width: 205px;
  }
  
  .home .text-wrapper-2 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 53px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 5px;
  }
  
  .home .text-wrapper-3 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 36px;
    font-weight: bold;
    left: 726px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 408px;
    width: 692px;
  }
  
  .home .text-wrapper-4 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 36px;
    font-weight: bold;
    left: 142px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 408px;
  }
  
  .home .overlap-group {
    height: 101px;
    left: 113px;
    position: absolute;
    top: 251px;
    width: 1389px;
  }
  
  .home .text-wrapper-5 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 48px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 3px;
    width: 383px;
  }
  
  .home .text-wrapper-6 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 48px;
    font-weight: 400;
    left: 1006px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 383px;
  }
  
  .home .rectangle-2 {
    background-color: #d9d9d9;
    border-radius: 15px;
    height: 53px;
    left: 306px;
    position: absolute;
    top: 4px;
    width: 751px;
  }
  
  .home .overlap-2 {
    height: 45px;
    left: 113px;
    position: absolute;
    top: 585px;
    width: 503px;
  }
  
  .home .group {
    height: 44px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 503px;
  }
  
  .home .overlap-group-2 {
    height: 44px;
    position: relative;
    width: 501px;
  }
  
  .home .text-wrapper-7 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 501px;
  }
  
  .home .rectangle-3 {
    background-color: #d9d9d9;
    border-radius: 15px;
    height: 44px;
    left: 277px;
    position: absolute;
    top: 0;
    width: 224px;
  }
  
  .home .friend-wrapper {
    height: 44px;
    left: 113px;
    position: absolute;
    top: 667px;
    width: 501px;
  }
  
  .home .friend {
    height: 44px;
    width: 503px;
  }
  
  .home .overlap-wrapper {
    height: 97px;
    left: 164px;
    position: absolute;
    top: 817px;
    width: 312px;
  }
  
  .home .overlap-3 {
    height: 105px;
    left: -4px;
    position: relative;
    width: 318px;
  }
  
  .home .img {
    height: 105px;
    left: 0;
    position: absolute;
    top: 0;
    width: 318px;
  }
  
  .home .text-wrapper-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 32px;
    font-weight: 400;
    height: 55px;
    left: 44px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 21px;
    width: 229px;
  }
  
  .home .overlap-group-wrapper {
    height: 97px;
    left: 917px;
    position: absolute;
    top: 813px;
    width: 312px;
  }
  
  .home .group-2 {
    height: 48px;
    left: 872px;
    position: absolute;
    top: 536px;
    width: 441px;
  }
  
  .home .rectangle-4 {
    background-color: #d9d9d9;
    border-radius: 45px;
    height: 44px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 44px;
  }
  
  .home .text-wrapper-9 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 32px;
    font-weight: 400;
    height: 48px;
    left: 85px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 316px;
  }
  
  .home .group-3 {
    height: 48px;
    left: 872px;
    position: absolute;
    top: 688px;
    width: 492px;
  }
  
  .home .text-wrapper-10 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 32px;
    font-weight: 400;
    height: 48px;
    left: 5px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 385px;
  }
  
  .home .group-4 {
    height: 48px;
    left: 872px;
    position: absolute;
    top: 613px;
    width: 441px;
  }
  
  .home .text-wrapper-11 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 32px;
    font-weight: 400;
    height: 48px;
    left: 44px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 382px;
  }

  .home .view-friends {
    height: 105px;
    left: -4px;
    position: relative;
    width: 318px;
    top: -300px;
  }
