.add-checkpoint {
    background-color: #a9d1f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .add-checkpoint .div {
    background-color: #a9d1f6;
    height: 100%;
    width: 100%;
    position: relative;
  }

  
  .add-checkpoint .input-container {
    position: absolute;
    text-align: center;
    width: 318px;
    height: 500px;
    left: 45%;
    font-size: 60px;
    transform: translateX(-50%);
    top: 438px;
  }
  
  .add-checkpoint .input-rectangle {
    background-color: #ffffff;
    border-radius: 10px;
    height: 50px;
    width: 500px;
  }
  
  .img {
    height: 60px;
    left: 310px;
    position: relative;
    bottom: 63px;
    width: 60px;
  }

  .checkpoint-add-label {
    font-size: 36px;
    font-weight: bold;
    position: relative;
  }
  
  