
  /* CheckpointsPage.css */
.checkpoints-page {
  background-color: #a9d2f7;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px; /* Adjust the width as necessary */
  margin: 0 auto; /* Center the content horizontally */
}
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .nav-button {
    background-color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .progress-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px; /* Adjust the width as necessary */
  }
  
  .progress-title {
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
  }
  
  .progress-bar {
    background-color: #d9d9d9;
    border-radius: 10px;
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
    position: relative;
  }
  
  .progress {
    background-color: #f0abab;
    height: 100%;
    width: 50%; /* This should be dynamic based on progress */
    border-radius: 10px;
  }

  .page-checkpoints-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .page-checkpoint-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .page-checkpoint-container .checkpoint-component {
    margin-bottom: 10px; /* Adjust the value as needed */
  }
  .add-checkpoint-button {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    position: relative;
    width: 205px;
    height: 49px;
    background-color: #51585f; /* Background color for the button */
    border-radius: 10px; /* Adjust the border radius as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; /* Remove the underline from links */
    cursor: pointer;
  }
  