.home-checkpoint {
    display: flex;
    align-items: center;
  }
  
  .home-checkpoint-icon {
    background-color: #007bff; /* You can adjust the background color */
    border-radius: 50%; /* Create a circular shape */
    width: 40px; /* Adjust the width and height as needed */
    height: 40px;
    margin-right: 10px; /* Add some spacing between the icon and text */
  }
  
  .home-checkpoint-text {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
    
  .home-checkpoint:hover .home-checkpoint-icon {
    background-color: #37ff00; /* Darker green on hover */
  }