.home-checkpoint {
  display: flex;
  align-items: center;
}

.home-checkpoint-icon {
  background-color: #007bff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.home-checkpoint-text {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.home-checkpoint:hover:not(.home-checkpoint-actions-disabled) .home-checkpoint-icon {
  background-color: #37ff00;
}

.home-checkpoint-actions-disabled .home-checkpoint-icon {
  background-color: #007bff; /* No hover effect when actions are disabled */
}

.home-checkpoint.completed .home-checkpoint-icon {
  background-color: #4caf50;
}
